<% provide(:title, "Sign up") %>
<div class="center jumbotron">
<%= link_to "Sign up as a recruiter", signup_recruiter_path, class: "btn btn-lg btn-primary" %></br></br>

<%= link_to "Sign up as a job seeker", signup_job_seeker_path, class: "btn btn-lg btn-primary" %></br></br>
</div>