<%= link_to gravatar_for(current_job_seeker, size: 50), current_job_seeker %>
<h1><%= current_job_seeker.name %></h1>
<span><%= link_to "view my profile", current_job_seeker %></span>
<span><%= pluralize(current_job_seeker.applications.count, "application") %></span>